<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1>MENU</h1>

    <table class="product-listing">
        <tr th:each="product : ${products}">
            <td>
                <p th:text="${product.flavor + ' ' + product.name}"></p>
                <p th:text="'$' + ${product.price}"></p>
                <a th:href="@{'/shoppingCart/addProduct/{id}'(id=${product.id})}" class="col-md-1"
                   sec:authorize="isAuthenticated()" th:if="${product.quantity}>0">
                    <button type="button" class="btn btn-primary" th:text="Buy">Buy</button>
            </td>
        </tr>
    </table>

</div>

</body>
</html>